<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container">
        <h1 class="text-secondary border border-success border-top-0 border-start-0 border-end-0" th:text="${titulo}">
        </h1>
        <p><a th:href="@{/dashboard/form}" class="btn btn-success btn-xs">Crear usuario</a></p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Email</th>
                    <th>Activo</th>
                    <th>Fecha de creación</th>
                    <th>Fecha de modificación</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario: ${usuarios}">
                    <td th:text="${usuario.id}"></td>
                    <td th:text="${usuario.username}"></td>
                    <td th:text="${usuario.email}"></td>
                    <td th:text="${usuario.active}"></td>
                    <td th:text="${usuario.fechaCreacion}"></td>
                    <td th:text="${usuario.fechaModificacion}"></td>
                    <td><a class="btn btn-primary btn-xs" th:href="@{/dashboard/form/} + ${usuario.id}"
                            th:text="editar"></a></td>
                    <td><a class="btn btn-danger btn-xs" th:href="@{/dashboard/eliminar/} + ${usuario.id}"
                            th:text="eliminar" onclick="return confirm('¿Estas seguro que quieres eliminar?');"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>