<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Israel Jasma</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/dashboard}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/dashboard/listar}">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/dashboard/workexperience}">Experiencia laboral</a>
                        </li>
                    </ul>
                    <div class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false" th:text="${usernameSession}">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" th:href="@{/dashboard/profile}">Perfil</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <div class="dropdown-item">
                                        <form th:action="@{/logout}" method="post">
                                            <input type="submit" value="Cerrar secion"
                                                style="display: flex;
                                        flex-direction: column; margin:0; padding:0; border: none; background-color: transparent;" />
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </div>
                    <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
                </div>
            </div>
        </nav>
    </header>
    <main class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                        <h5 class="card-title">Usuarios</h5>
                        <p class="card-text">Hay 256 usuarios registrados en el sistema.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card bg-warning text-white shadow">
                    <div class="card-body">
                        <h5 class="card-title">Exemplo</h5>
                        <p class="card-text">Exemplo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card bg-success text-white shadow">
                    <div class="card-body">
                        <h5 class="card-title">Exemplo</h5>
                        <p class="card-text">Exemplo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card bg-danger text-white shadow">
                    <div class="card-body">
                        <h5 class="card-title">Incidencias</h5>
                        <p class="card-text">Hay 3 incidencias reportadas en el sistema.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header">
                        <h5 class="card-title">Últimos Usuarios Registrados</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Juan Pérez</strong> - juanperez@gmail.com
                            </li>
                            <li class="list-group-item">
                                <strong>Juan Pérez</strong> - juanperez@gmail.com
                            </li>
                            <li class="list-group-item">
                                <strong>Juan Pérez</strong> - juanperez@gmail.com
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header">
                        <h5 class="card-title">Exemplo</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Exemplo</strong>
                            </li>
                            <li class="list-group-item">
                                <strong>Exemplo</strong>
                            </li>
                            <li class="list-group-item">
                                <strong>Exemplo</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:fragment="footer">
        <script th:href="@{/js/bootstrap.min.js}" rel="stylesheet"></script>
        <script th:href="@{/js/popper.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
            integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
            crossorigin="anonymous"></script>
    </footer>
</body>

</html>