<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container">
        <h1 class="text-secondary border border-success border-top-0 border-start-0 border-end-0" th:text="${titulo}">
        </h1>
        <p><a th:href="@{/dashboard/profile/edit}" class="btn btn-success btn-xs">Modificar perfil</a></p>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Nombres:</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="${profile.nombres}"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Apellido paterno:</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="${profile.apellidoPaterno}"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Apellido materno:</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="${profile.apellidoMaterno}"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Rut:</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="${profile.rut}"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email de contacto</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="${profile.emailContacto}"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Fecha de nacimiento:</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="${profile.fechaNacimiento}"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Genero:</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="${profile.genero}"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Dirección:</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="${profile.direccion}"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Ciudad:</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="${profile.ciudad}"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">País:</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="${profile.pais}"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Teléfono:</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="${profile.telefono}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>