<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
    <header th:replace="layout/layout :: header"></header>
    <main class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                        <h5 class="card-title">Usuarios</h5>
                        <p class="card-text">Hay 256 usuarios registrados en el sistema.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card bg-warning text-white shadow">
                    <div class="card-body">
                        <h5 class="card-title">Exemplo</h5>
                        <p class="card-text">Exemplo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card bg-success text-white shadow">
                    <div class="card-body">
                        <h5 class="card-title">Exemplo</h5>
                        <p class="card-text">Exemplo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card bg-danger text-white shadow">
                    <div class="card-body">
                        <h5 class="card-title">Incidencias</h5>
                        <p class="card-text">Hay 3 incidencias reportadas en el sistema.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header">
                        <h5 class="card-title">Últimos Usuarios Registrados</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Juan Pérez</strong> - juanperez@gmail.com
                            </li>
                            <li class="list-group-item">
                                <strong>Juan Pérez</strong> - juanperez@gmail.com
                            </li>
                            <li class="list-group-item">
                                <strong>Juan Pérez</strong> - juanperez@gmail.com
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header">
                        <h5 class="card-title">Exemplo</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Exemplo</strong>
                            </li>
                            <li class="list-group-item">
                                <strong>Exemplo</strong>
                            </li>
                            <li class="list-group-item">
                                <strong>Exemplo</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>