<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ha ocurrido un error!</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">500</h1>
            <p class="lead">Lo sentimos, se produjo un error interno en el servidor.</p>
            <p>Por favor, intenta nuevamente más tarde.</p>
        </div>
    </div>
</body>

</html>